/* 
  Override kalatheme
*/
/
/*
Cho ảnh banner sát menu ngang
*/

#tabs {
	margin-bottom: 0px;
}

#main-wrapper {
	margin-top: 0px;
	margin-bottom:50px;
}

.danhmuchangxe {
    background: url("../img/menubar/danhmuchangxe.jpg") no-repeat scroll left top transparent;
    width: 250px;
	height: 250px;
	margin-top:50px;
}

.hotrotructuyen {
    background: url("../img/menubar/hotrotructuyen.jpg") no-repeat scroll left top transparent;
    width: 250px;
	height: 250px;
	margin-top:50px;
}

.thongketruycap {
    background: url("../img/menubar/thongketruycap.jpg") no-repeat scroll left top transparent;
    width: 250px;
	height: 250px;
	margin-top:50px;
}